/* Desktop styling
*******************************    */
@media screen and (min-width: $min-desktop-width) {
  .parallax {
    background-image: url(../images/al-background-img2.jpg);
  }
  .parallax4 {
    background-image: url(../images/al-background-img3.jpg);
    padding-bottom: 1px;
  }
 }
