body {
  font-size: 16px;
  margin: 0;
  /* 1.5 * 16 = 24 (24px baseline) */
}

h1 {
  font-size: 1.75em;
  /* 1.5 * 16 = 24 */
  line-height: 1;
  /* 24 / 24 = 1 */
  margin: 1em 0;
}
h2 {
  font-size: 2em;
  /* 1.375 * 16 = 22px */
  line-height: 1.0909;
  /* 24 / 22 = 1.0909 */
  margin: 1.0909em 0;
}
h3 {
  font-size: 1.25em;
  /* 1.25 * 16 = 20px */
  line-height: 1.2;
  /* 24 / 20 = 1.2 */
  margin: 1.2em 0;
}
h4 {
  font-size: 1.125em;
  /* 1.125 * 16 = 18px */
  line-height: 1.333;
  /* 24 / 18 = 1.333 */
  margin: 1.333em 0;
}
h5, h6 {
  font-size: 1em;
  /* 1 * 16 = 16px */
  line-height: 1.5;
  /* 24 / 16 = 1.5 */
  margin: 1.5em 0;
}
p {
  line-height: 1.5;
}
header {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
}

footer {
  background: rgba(0, 0, 0, .875);
  margin: 0;
  padding: .1em 0;
  color: white;
  width: 100%;
  text-align: center;
}
.container {
  // margin: 6em auto 0 auto;
  // width: 88%;
}
.wrapper {
  padding: 0;
}

/* Header Stuff
---------------------------------*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: 1s;
}
header {
  display: flex;
}
header h1 {
  color: rgba(0, 0, 0, 0);
  max-width: 250px;
  margin: 0 0 0 4em;
}
.logo {
  margin-left: 3em;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: 101;
}
.logo img {
  margin: 0;
  padding: 0;
  opacity: 0.95;
  box-shadow: 2px 2px 17px rgba(73, 73, 73, 0.7);
  border-radius: 2.5px;
}

/* Overview
---------------------------------*/

#overview,
#challenges,
#numbers,
#action,
.layer_action {
  min-height: 100.1vh;
}
#overview h1 {
  margin-top: 3em;
}
#challenges h2,
// #numbers h2,
#action h2{
  margin-top: 5em;
}
.overview {
  width: 100%;
  margin: 0 auto;
}

// .challenges,
.numbers,
.action {
  width: 80%;
  margin: 0 auto;
}

/* Parallax
---------------------------------*/
.parallax,
.parallax2,
.parallax3,
.parallax4 {
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: 10% 50%;
}
.parallax {
  background-image: url(../images/al-background-img2-mobile.jpg);
}
.parallax2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
}
.parallax3 {
  background-image: url(../images/dark-triangles.png);
  width: 100%;
}
.parallax4 {
  background-image: url(../images/al-background-img3-mobile.jpg);
  padding-bottom: 1px;
}
.box {
  margin-top: 100vh;
  position: absolute;
  z-index: 1001;
  width: 100%;
}

/* Overview styling
---------------------------------*/
#overview {
  width: 100%;
  margin: 0;
  position: absolute;
  z-index: 1001;
}
@media screen and (min-width: $min-tablet-width) {
  .parallax {
    background: url(../images/al-background-img2-tablet.jpg);
    background-size: cover;
    margin: 0;
    width: 100%;
  }
}
.layer_overview {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 100.1vh;
  padding-top: .1em;
  padding-bottom: 2em;
}
.layer_overview p
{
  margin: 1em 3em 0em 3em;
}
.layer_overview h2,
.layer_overview h1 {
  text-align: center;
}
.layer_overview h1 {
  margin: 0;
  line-height: 1.5;
}
.overview_list_title {
  display: flex;
  align-items: center;
}
.overview_list_title img {
  margin-right: 2em;
  margin-bottom: .3em;
}
.overview_list {
  list-style: none;
}
.overview_list li {
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.overview_status:hover {
  color: red;
}
/* Challenges styling
---------------------------------*/
#challenges {
  margin: 0;
  width: 100%;
  position: relative;
}
.sticky_challenges {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  text-align: center;
}
.habitat,
.pDep,
.hunters,
.livestock {
  position: relative;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
}
.layer {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.flickity p {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 20em;
}
.habitat {
  background: url(../images/al_flickity_dandf.jpg);
  background-size: cover;
  position: relative;
}
.pDep {
  background: url(../images/al_flickity_preyDepletion.png);
  position: relative;
}
.hunters {
  background: url(../images/al_flickity_hunters.jpg);
  background-size: cover;
  position: relative;
}
.livestock {
  background: url(../images/al_flickity_livestock.jpg);
  background-size: cover;
  position: relative;
}
.layer p {
  font-size: 1.75em;
}
/* Numbers styling
---------------------------------*/
#numbers {
  margin: 0;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 1px;
}
.numbers h2 {
  margin-top: 2em;
}


/* Action styling
---------------------------------*/
#action {
  margin: 0;
  width: 100%;
}
@media screen and (min-width: $min-tablet-width) {
  .parallax4 {
    background: url(../images/al-background-img3-tablet.jpg);
    background-size: cover;
    margin: 0;
    width: 100%;
  }
}
.layer_action {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 40%;
  margin-left: 3em;
}
.layer_action h2  {
  text-align: center;
}

@media screen and (min-width: $min-desktop-width) {
  .overview_list li {
    display: inline-block;
    margin-left: 6em;
  }
}
