body {
  font-family: 'Open Sans', sans-serif;
  color: $color-text;
  text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
}
header {
  color: white;
}
footer {
  color: white;
  text-align: center;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
#intro h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: $color-yellow;
  font-size: 4.5em;
  text-align: center;
  margin: 0;
  line-height: 2;
}
#intro p {
  margin: .5em 1em;
  font-size: 1.5em;
  color: $color-yellow;
  text-align: center;
}
h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
h2{
  color: $color-yellow;
}
@media screen and (min-width: $min-tablet-width) {
  #intro h1 {
    font-size: 3em;
  }
}
@media screen and (min-width: $min-desktop-width) {
  .intro {
    padding-top: 15em;
    margin: 0;
    width: 30%
  }
  #intro h1,
  #intro p {
    margin: 0;
  }
  #intro h1 {
    font-size: 4em;
    line-height: 1.5;

  }
  #intro p {
    margin: 1em 0em;
    padding: 0em 1em;
  }
}
